@model webnangcao1.Models.taikhoan
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Đăng nhập</title>

        <link href="~/ss/admin/css/bootstrap.min.css" rel="stylesheet">
        <link href="font-awesome/~/ss/admin/css/font-awesome.css" rel="stylesheet">

        <link href="~/ss/admin/css/animate.css" rel="stylesheet">
        <link href="~/ss/admin/css/style.css" rel="stylesheet">

    </head>

    <div class="wrapper" style="background: black; color: #f5f5f5 ">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="logo"><a href="index.html"><img src="~/ss/user/images/logo.png" alt="FlatShop"></a></div>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="header_top">
                            <div class="row">   
                                <div class="col-md-12">
                                   
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="header_bottom">
                          
                            <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                                    <li><a href="@Url.Action("Index", "dangnhap")">Đăng nhập</a></li>
                                    <li><a href="@Url.Action("Create", "taikhoans")">Đăng ký</a></li>\
                                    <li><a href="@Url.Action("Index", "chitietsanpham")">Sản phẩm</a></li>
                                    <li><a href="@Url.Action("Index", "xemdonhang")">Đơn hàng</a></li>
                                    <li><a href="@Url.Action("Index", "cart")">Giỏ hàng</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <body class="gray-bg" style="background:  ">
        <div class="loginColumns animated fadeInDown">
            <div class="row">


                <div class="col-md-6" style="float:none;margin:auto">
                    <center>
                        <h2>Đăng nhập</h2>
                    </center>
                    <div class="ibox-content">
                        @using (Html.BeginForm())
                        {
                            <div>
                                @Html.ValidationSummary(false)
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Tentaikhoan, htmlAttributes: new { @class = "form-control", placeholder = "user name" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Matkhau, htmlAttributes: new { @class = "form-control", placeholder = "password" })
                            </div>
                            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                            <p class="text-muted text-center">
                                <small>Đăng nhập để thực hiện chức năng</small>
                            </p>

                        }

                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
